

body {
    margin: 3vh;
    background-color:rgb(97, 67, 219);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    width: 95vw;
}

.content-container {
    background-color:antiquewhite;
    display: flex;
    height: 90%;
    width: 90%;
    border-radius: 30px;
    border: 5px solid black;
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons-container {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.sketch-container {
    width: 60%;
}

.box {
    height: 90%;
    width: 90%;
}

.container {
  display: grid;
  gap: .5px;
}

.grid-div {
    border: .5px solid rgb(97, 67, 219);

}

.div-hovered {
    background-color: rgb(2, 169, 113);
}

.random-color {
    background-color: var(--random-color);
}

.buttons {
    width: 250px;
    height: 70px;
    border-radius: 25px;
    background-color: rgb(246, 128, 110);
    border: 5px solid black;
}

#rainbow {
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
}
